DB_HOST=localhost
DB_PORT=5432

POSTGRES_DB_PASSWORD=postgres_db_password

BOARD_DB_USER=board_db_user
BOARD_DB_PASSWORD=board_db_password
BOARD_DB_NAME=board_db

MEDIA_DB_USER=media_db_user
MEDIA_DB_PASSWORD=media_db_password
MEDIA_DB_NAME=media_db


MEDIA_MAX_FILE_SIZE=20MB
MEDIA_MAX_REQUEST_SIZE=21MB

MINIO_API_HOST=localhost
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ROOT_USER=minio_root_user
MINIO_ROOT_PASSWORD=minio_root_password

MINIO_MEDIA_ACCESS_KEY=minio_media_access_key
MINIO_MEDIA_SECRET_KEY=minio_media_secret_key

MINIO_BUCKET_NAME=minio-bucket-name